@tailwind base;
@tailwind components;
@tailwind utilities;

.big-container {
 @apply galaxy w-full min-h-screen bg-cover flex flex-col items-center justify-center;
}

.smaller-container {
  background-color: rgba(0, 0, 0, 0.35);
}

* {
  font-family: 'Staatliches', cursive;
}

.galaxy {
  background-image: url(./images/galaxy.jpg);
}
